<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Alumnos DB</title>
    <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet">
    <script src="static/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container w-50">
      <h1>Grupo de Alumnos</h1>
      <hr class="text-primary" />
      <p>
        Bievenido, pagina de los alumnos de la Universidad Ricardo Palma.
        Seleccione <a href="/alumno">aqui</a> para ver el
        listado de alumnos.
      </p>
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="/static/images/male.png"
              class="d-block w-20"
              alt="Maculino"
              height="350"
              width="450"
            />
          </div>
          <div class="carousel-item">
            <img
              src="/static/images/female.png"
              class="d-block w-20"
              alt="Femenino"
              height="350"
              width="450"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Regresar</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </div>
  </body>
</html>