<html>
  <head>
    <title>MS Alumnos</title>
    <link
      href="{{ url_for('static', path='/css/bootstrap.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', path='/css/estilos.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container w-50">
      <h1>{{ alumno.apellido }},{{ alumno.nombre }}:</h1>
      <hr width="55%" />
      <div class="card" style="width: 28rem">
        <script type="text/javascript">
          if ((alumno.sexo = "M"))
            document.write(
              <img
                src="/static/images/male.png"
                class="card-img-top"
                alt="alumno_image"
              />
            );
          else
            document.write(
              <img
                src="/static/images/female.png"
                class="card-img-top"
                alt="alumno_image"
              />
            );
        </script>
        <div class="card-body">
          <h5 class="card-title">{{alumno.carrera}}</h5>
          <hr />
          <p class="card-text">Edad: {{alumno.edad}}</p>
          <p class="card-text">Ciclo: {{alumno.semestre}}</p>
          <p class="card-text">Cursos: {{alumno.cursos}}</p>
        </div>
      </div>
      <a class="btn btn-danger" href="/alumno">Atrás</a>
    </div>
  </body>
</html>
